/* Nav */

.nav-wrapper .brand-logo {
    font-size: 1.6rem;
    display: inline-table;
}

.nav-wrapper ul a:hover {
    background-color: #c62828;
}

/* Home page*/

.max-height {
    height: 100vh;
}

.mr {
    margin-right: 1rem;
}

.bg-img {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/stock-photo-kitchen-cooking-utensils-in-ceramic-storage-pot-on-a-shelf-on-a-rustic-wooden-wall-space-for-text-327210395.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-div {
    position: relative;
    margin: auto;
    height: 250px;
    width: 80%;
    top: 30%;
}

.menu-button {
    width: max-content;
    margin: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
}

/* Search boxes */

#recipe-search-box {
    margin-left: 1%;
    margin-bottom: 2%;
}

#ingredient-search-box {
    margin-left: 14.5%;
    margin-bottom: 2%;
}

.search-button {
    margin: 2%;
}

/* Filter section */

#filter-section .z-depth-2 {
    margin: 0 1%;
    padding: 0.75rem;
    padding-top: 4%;
}

/* Recipes */

.card .card-image img {
    height: 18rem;
}

div .list-container {
    text-align: center;
}

div .list-container .list-item {
    margin: 0;
    padding-top: 0.75rem;
}    

.list-image {
    height:5rem;
    width:5rem;
    border-radius: 50%;
    vertical-align: middle;
}

div .list-container .list-item p {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25rem;
}

/* View recipe page*/

.recipe-image-container {
    margin: auto;
}

.img-dimentions {
    display: block;
    width: 100%;
    height: 23.5rem;
}

.recipe-description {
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

.section-title {
    margin-left: 1rem;
}

.instructions-section,
.info-section,
.ingredients-section,
.allergens-section {
    padding: 1rem;
}

/* Login/ Register*/

.login-button {
    margin: 1rem 0;
}

.message-container {
    margin-top: 3rem;
}

/* Media queries */

@media (max-width: 600px) {
    #recipe-search-box,
    #ingredient-search-box {
        margin-left: 0;
        margin-bottom: 15px;
    }
    #filter-section .z-depth-2 {
        margin: 0;
    }
    .message-container {
        margin-top: 1rem;
    }
}