{% extends 'base.html' %} {% block content %}
<section id="dashboard" class="max-height">
    <div class="row">
        <div class="col s12 m6">
            <div id="category-chart"></div>
        </div>
        <div class="col s12 m6">
            <div id="origin-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div id="diet-distribution"></div>
        </div>
        <div class="col s12 m6">
            <div id="users-chart"></div>
        </div>
    </div>
</section>

{% endblock %}
