{% extends 'base.html' %} {% block content %}
<section id="home-page" class="max-height">
    <div class="bg-img">
        <div class="center-div">
            <div class="overlay">
                <div class="row">
                    <div class="s12">
                        <h1>Absolute Cookbook</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, eum!</p>
                        <a href="{{ url_for('get_recipes',limit=6, offset=0) }}" class="btn waves-effect waves-light center menu-button">View Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
