{% extends 'base.html' %} {% block content %}
<section id="search-section">
    <div class="section">
        <div class="row">
            <!--Recipe name search-->
            <div id="recipe-search-box" class="col s12 m5 z-depth-2 ">
                <form action="{{ url_for('search_recipes') }}" method="POST">
                    <div class="input-field">
                        <input id="recipe_name" name="recipe_name" type="text" class="validate">
                        <label for="recipe_name">Recipe Name</label>
                        <button class="btn waves-effect waves-light right search-button" type="submit" name="action">Recipe Name Search<i class="material-icons right">search</i></button>
                    </div>
                </form>
            </div>

            <!--Ingredients search-->
            <div id="ingredient-search-box" class="col s12 m5 z-depth-2 ">
                <form action="" method="POST">
                    <div class="input-field">
                        <input id="ingredient_name" name="ingredient_name" type="text" class="validate">
                        <label for="ingredient_name">Ingredient</label>
                        <button class="btn waves-effect waves-light right search-button" type="submit" name="action">Ingredient Search<i class="material-icons right">search</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="filter-section">
    <div class="section">
        <div class="row">
            <form class="z-depth-2">
                <div class="row">
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for allergin in allergins %}
                              <option value='{{allergin.name}}'>{{allergin.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Allergins</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for author in authors %}
                              <option value='{{author.name}}'>{{author.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Authors</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for country in countries %}
                                <option value='{{country.name}}'>{{country.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Authors Origin</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for category in categories %}
                                <option value='{{category.name}}'>{{category.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Categories</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for cuisine in cuisines %}
                                <option value='{{cuisine.name}}'>{{cuisine.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Cuisines</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for diet in diets %}
                                <option value='{{diet.name}}'>{{diet.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Diet</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for origin in origins %}
                                <option value='{{origin.name}}'>{{origin.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Origin</label>
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            {% for type in types %}
                                <option value='{{type.name}}'>{{type.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Type</label>
                    </div>
                    <button class="btn waves-effect waves-light left search-button" type="submit" name="action">Search<i class="material-icons right">search</i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="recipes">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.image}}">
                    <span class="card-title">{{recipe.name}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>{{recipe.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">{{recipe.diet}}</a>
                    <a class="right" href="#">{{recipe.votes}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
