{% extends 'base.html' %} {% block content %}
<section id="saved-recipes" class="max-height">
    {% if args.num_results <= args.p_limit %}
    <div class="row">
        {% for recipe in args.recipes %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.image_url}}">
                    <span class="card-title">{{recipe.name}}</span>
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id, username=session.username) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>{{recipe.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">{{recipe.diet}}</a>
                    <a href="#" class="right">Votes {{recipe.votes}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s12">
        {% if args.p_offset > 0 %}
        <a href="{{args.prev_url}}"><i class="large material-icons">keyboard_arrow_left</i></a> 
        {% endif %} 
        {% if args.p_offset + args.p_limit < args.num_results %} 
        <a href="{{args.next_url}}"><i class="large material-icons">keyboard_arrow_right</i></a>
        {% endif %}
    </div>
    {% endif %}
</section>
{% endblock %}
